
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% include 'style/css.html' %}
    {% include 'style/js.html' %}
  </head>
  <body>
  {% include 'base/nav.html' %}
    <main role="main" class="container">
      <div class="main">
          {% block content %}
          {% endblock content %}
      </div>
    </main>
  </body>
</html>

